body {
    margin: auto;
    max-width: 1000px;
    text-align: center;
}

header {
    background-color: green;
    color: white;
}

h1, h2, h3, p {
    font-family: 'Averia Serif Libre', cursive;
}

header img {
    padding: 0.5em;
}

ul {
    display: table; 
    margin: 0 auto;
    text-align: left;
}

a {
    color: green;
}

footer {
    background-color: green;
    color: white;
}