@media only screen and (min-width: 32.5em) {
    header {
        border-radius: 1.5em;
        align-items: center;
    }

    nav {
		flex-direction: row;
	}

    footer {
        border-radius: 1.5em;
    }
}