body {
    margin: auto;
    max-width: 1000px;
    text-align: center;
}

header {
    background-color: green;
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
}

nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

nav a:hover {
	background-color: turquoise;
    color: black;
    border-radius: 1.5em;
}

h1, h2, h3, p {
    margin: 0em;
    font-family: 'Averia Serif Libre', cursive;
}

table {
    display: inline;
}

td {
    padding: 2em;
    margin: 2em;
}

td:nth-child(1) {
    background-color: green;
    color: white;
}

td:nth-child(2) {
    background-color: turquoise;
}

td:nth-child(3) {
    background-color: black;
    color: white;
}

td:nth-child(4) {
    background-color: white;
    color: black;
}

img {
    margin: auto;
    display: block;
    width: 7.5%;
}

a {
    color: green;
}

p {
    margin-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1em;
}

footer {
    background-color: green;
    color: white;
}