@media only screen and (min-width: 32.5em) {
    header {
        border-radius: 1.5em;
    }

    nav {
		flex-direction: column;
	}

    .grid {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

    .hero {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .event {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .join {
        display: inline-block;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .spotlight {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .news {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .weather {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    footer {
        border-radius: 1.5em;
    }
}