body {
    margin: auto;
    max-width: 1000px;
    text-align: center;
}

header {
    background-color: green;
    color: white;
}

main {
    text-align: left;
    display: grid;
}

h1, h2, h3, p {
    margin: 0em;
    font-family: 'Averia Serif Libre', cursive;
}

section {
    border-radius: 25px 25px 0px 0px;
    background-color: rgb(193, 193, 193);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

section h2 {
    padding-left: 0.75em;
    border-radius: 25px 25px 0px 0px;
    background-color: darkgreen;
}

img {
    margin: auto;
    display: block;
    width: 98%;
}

a {
    color: green;
}

p {
    margin: 1em;
    line-height: 1em;
}

footer {
    background-color: green;
    color: white;
}